<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${view.title}">文章详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="生命科学知识分享,生物技术,生物信息学" th:content="${view.title}">
    <meta name="description" content="分享生命科学方面相关文章" th:content="${view.summary}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/templates/resources/css/markdown.css"> -->
    <link rel="stylesheet" href="/templates/resources/themes/github.css?v=1.01">
    <!-- <link rel="stylesheet"
        href="https://fonts.loli.net/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.css">
    <link rel="stylesheet" href="/templates/resources/css/index.css?v=1.01">

    <style>
        .is_fixed {
            position: fixed;
            top: 0;
            /* left: 50%;
            margin-left: -250px;
            z-index: 999; */
        }

        .is_show_toc {
            display: none;
        }

        .toc {
            padding-left: 0;

        }

        .toc a {
            color: #6c757d;
        }

        .card-body li {
            list-style: none;
        }

        .breadcrumb {
            background: #f6f6f6;
            border-radius: 0;
            padding: 0;
            margin-bottom: 0.5rem !important;
        }


        /* 设置顶部不固定
        .navbar {
            position: relative;
        }

        .container {
            margin-top: 0px !important;
        } */

        @media screen and (min-width: 768px) {
            .bd-links {
                display: block !important;
                /* overflow-y: auto; */
            }
        }

        /* 文章内容标注换行 */
        .footnotes{
           word-wrap: break-word;
        }

           
        /* 内容头部样式 */
        .content-header .info {
            font-size: 0.8rem;
        }

        .content-header .title {
            font-size: 2.25em;
        }

        /* 文章用户信息 */
        .user-info img {
            width: 5rem;
        }
    </style>
</head>

<body>
    <!--#include file="/components/header.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/header :: #header"></div>


    <div class="container ">

        <!-- <nav th:if="${notPdf==null}" aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <span class="text-secondary">当前位置：</span>
                <li class="breadcrumb-item "><a href="/index.html" class="text-secondary">首页</a></li>
                <li class="breadcrumb-item " th:if="${view.category!=null}">
                    <a class="text-secondary" th:href="'/'+${view.category.path}+'/'+${view.category.viewName}+'.html'"
                        th:text="${view.category.name}">文章列表</a>
                </li>
                <li class="breadcrumb-item active text-secondary" aria-current="page" th:text="${view.title}">文章详情</li>
            </ol>
        </nav> -->
    

        <div class="row">
            <div class="col-lg-9 mb-3">
                
                <!-- <div>
                    <img th:src="${view.picPath}" class="rounded-pill"/>
                </div> -->
                <div class=" shadow bg-white">
                    <div class="content-header border-bottom pl-3 pr-3 pt-3 pb-3">
                        <h1 class="m-0 title" th:text="${view.title}">标题</h1>
                        <div class="info text-secondary">
                            <span class="mr-2  ">最后发布时间:<strong th:text="${#dates.format( view.updateDate, 'yyyy-MM-dd HH:mm:ss')}">时间</strong></span>
                            <span class="text-muted">分享到：</span>
                            <img onclick="shareTo('qzone')" src="http://zixuephp.net/static/images/qqzoneshare.png" width="15"/> 
                            <span class="mr-2">浏览量:<strong id="visits"></strong></span>
    
                        </div>
                    </div>
                    <div class="markdown pt-2 pl-3 pr-3 pb-3">
                            [(${view.formatContent})]
                    </div>
                </div>


                <div id="article-comment" th:if="${view.openComment}">
                    <!--#include file="/components/[[${view.viewName}]].html"-->
                    <div th:if="${isSave== null && notPdf==null}" th:insert="'html/components/'+${view.viewName}"></div>
                </div>

            </div>

            <div class="col-lg-3 ">
                <div class="card mb-3  bg-white p-3 user-info">
                    
                    <div class="d-flex justify-content-center">
                        <img th:src="${view.user.avatar}" alt=""class="img-fluid rounded-circle"/>  
                        <div class="align-self-center ml-3">
                                <strong th:text="${view.user.username}"> </strong>

                        </div>
                    </div>
                   
                </div>
                <div class="card mb-3  bg-white">
                    <div class="card-body">
                        <dl>
                            <dt class="text-muted">文章所属栏目</dt>
                            <dd th:if="${view.category!=null}">
                                <a class=" badge badge-success"
                                    th:href="'/articleList/'+${view.category.viewName}+'.html'"
                                    th:text="${view.category.name}"></a>
                            </dd>
                        </dl>

                        <dl>
                            <dt class="text-muted">标签</dt>
                            <dd th:if="${view.tags!=null}">
                                <a class="badge badge-info mr-1" th:each="item : ${view.tags}"
                                    th:text="${item.name}"></a>
                            </dd>

                        </dl>
                    </div>
                </div>
                <!-- 文章目录 -->
                <div th:if="${view.toc!=''}" id="bd-docs-nav" class="card shadow-lg collapse bd-links "
                    :class="{'is_fixed' : isFixed,'is_show_toc' : !showToc}">
                    <div class="card-header">本文列表</div>
                    <div class="card-body" th:utext="${view.toc}">
                    </div>
                </div>


            </div>
        </div>



    </div>

    <!--#include file="/components/footer.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/footer :: #footer"></div>
    <script src="/templates/resources/js/jquery-3.4.1.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <script src="/templates/resources/js/axios.min.js"></script>
    <script src="/templates/resources/js/service.js"></script>
    <script>
        articleApi.getVisit([[${ view.id }]]).then(response => {
            if (response.data.status == 200) {
                console.log(response.data.data)
                document.getElementById("visits").innerHTML = response.data.data
            }

        })

        // $('#test1').load("/[[${view.path}]]/comment-[[${view.viewName}]].html ")

        /*************************评论代码****************************/
        function addComment() {
            let username = $("#username").val()
            let email = $("#email").val()
            let content = $("#content").val()
            console.log(username + email + content)
            var data = {
                "username": username,
                "email": email,
                "content": content,
                "articleId": "[[${view.id}]]"
            }
            console.log("/components/[[${view.viewName}]].html")
            commentApi.add(data).then(response => {
                // console.log(response)
                alert("成功添加评论" + response.data.message)
                $('#comment-list').load("/components/[[${view.viewName}]].html #comment-list")
            }).catch(function (error) {
                // handle error
                // console.log(error.response.data.message);
                alert(error.response.data.message)

            })
        }


    </script>
    <script src="/templates/resources/js/article.js"></script>
    <script src="/templates/resources/js/index.js"></script>

</body>

</html>