<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${view.title}">文章详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="生命科学知识分享,生物技术,生物信息学" th:content="${view.title}">
    <meta name="description" content="分享生命科学方面相关文章" th:content="${view.summary}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/templates/resources/css/markdown.css"> -->
    <link rel="stylesheet" href="/templates/resources/themes/github.css">
    <!-- <link rel="stylesheet"
        href="https://fonts.loli.net/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.css">
    <link rel="stylesheet" href="/templates/resources/css/index.css">

    <style>
        .is_fixed {
            position: fixed;
            top: 0;
            /* left: 50%;
            margin-left: -250px;
            z-index: 999; */
        }

        .is_show_toc {
            display: none;
        }

        .toc {
            padding-left: 0;

        }

        .toc a {
            color: #6c757d;
        }

        .card-body li {
            list-style: none;
        }

        .breadcrumb {
            background: #f6f6f6;
            border-radius: 0;
            padding: 0;
            margin-bottom: 0.5rem !important;
        }

        .navbar {
            position: relative;
        }

        .container {
            margin-top: 0px !important;
        }

        @media screen and (min-width: 768px) {
            .bd-links {
                display: block !important;
                /* overflow-y: auto; */
            }
        }
    </style>
</head>

<body>
    <!--#include file="/components/header.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/header :: #header"></div>


    <div class="container">

        <nav th:if="${notPdf==null}" aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <span class="text-secondary">当前位置：</span>
                <li class="breadcrumb-item "><a href="/index.html" class="text-secondary">首页</a></li>
                <li class="breadcrumb-item " th:if="${view.category!=null}">
                    <a class="text-secondary" th:href="'/articleList/'+${view.category.viewName}+'.html'"
                        th:text="${view.category.name}">文章列表</a>
                </li>
                <li class="breadcrumb-item active text-secondary" aria-current="page" th:text="${view.title}">文章详情</li>
            </ol>
        </nav>

        <div class="card mb-3 shadow-sm rounded " th:if="${notPdf==null}">
            <img th:if="${view.picPath}" th:src="${view.picPath}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title" th:text="${view.title}">标题</h5>
                <p class="card-text" th:text="${view.summary}">摘要</p>


                <div class="d-flex justify-content-between">
                    <small class="text-muted">
                        <span class="mr-2">
                            <svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z"
                                    clip-rule="evenodd" />
                            </svg>
                            <strong th:text="${view.user.username}"> </strong>
                        </span>
                        <span class="mr-2">最后发布时间:<strong th:text="${#dates.format( view.updateDate, 'yyyy-MM-dd HH:mm:ss')}">时间</strong></span>
                    
                        <span class="text-muted">分享到：</span>
                        <img onclick="shareTo('qzone')" src="http://zixuephp.net/static/images/qqzoneshare.png" width="15"> 
                  
                        <span class="mr-2">浏览量:<strong id="visits"></strong></span>

                    </small>
                    
                   
                    <small class="text-muted">
                        <a th:href="'http://47.93.201.74:8080/download/articlePdf/'+${view.id}"
                            target="_blank">&nbsp;&nbsp;点击下载PDF</a>
                    </small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="markdown shadow-lg p-3 mb-5 bg-white rounded">

                    [(${view.formatContent})]
                </div>
            </div>

            <div class="col-lg-3 " id="boxFixed1">
                <div class="card mb-3  bg-white">
                    <div class="card-body">
                        <dl>
                            <dt class="text-muted">文章所属栏目</dt>
                            <dd th:if="${view.category!=null}">
                                <a class=" badge badge-success" th:href="'/articleList/'+${view.category.viewName}+'.html'"
                                    th:text="${view.category.name}"></a>
                            </dd>
                        </dl>

                        <dl>
                            <dt class="text-muted">标签</dt>
                            <dd th:if="${view.tags!=null}">
                                <a class="badge badge-info mr-1" th:each="item : ${view.tags}" th:text="${item.name}"></a>
                            </dd>
                            
                        </dl>
                    </div>
                </div>
                <!-- 文章目录 -->
                <div th:if="${view.toc!=''}" id="bd-docs-nav"  class="card shadow-lg collapse bd-links "
                    :class="{'is_fixed' : isFixed,'is_show_toc' : !showToc}">
                    <div class="card-header">本文列表</div>
                    <div class="card-body" th:utext="${view.toc}">
                    </div>
                </div>


            </div>
        </div>



        <!--#include file="/components/footer.html"-->
        <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/footer :: #footer"></div>

    </div>

   <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
    <script src="/templates/resources/js/service.js"></script>
    <script>
        articleApi.getVisit([[${ view.id }]]).then(response => {
            if (response.data.status == 200) {
                console.log(response.data.data)
                document.getElementById("visits").innerHTML = response.data.data
            }

        })

        // var bolb = new Blob([ss],{type:"audio/mpeg"});
        // var url = window.URL.createObjectURL(bolb);

        var sound = $(".sound")
        if (sound.length != 0) {
            // console.log("exist sound"+sound.length)
            var audio = document.createElement("audio");


            // console.log($(".sound").length)
            sound.each(function (i) {
                // console.log(  $(sound[i]).attr('naudio'))
                $(sound[i]).click(function () {
                    // console.log($(sound[i]).attr('naudio'))
                    audio.src = $(sound[i]).attr('naudio');
                    // audio.controls = "controls";
                    document.body.appendChild(audio);
                    audio.play();
                })
            })
        }





        // sound.click(function(){
        //   var a=$(this).index;
        //   console.log(a)
        // })

        function shareTo(stype) {
            var ftit = '';
            var flink = '';
            var lk = '';
            var summary = '生命科学知识分享';
            //获取文章标题
            ftit = $('title').text();
            console.log(ftit)
            //获取网页中内容的第一张图片
            flink = $('.markdown').find('img').eq(0).attr('src');
            if (typeof flink == 'undefined') {
                flink = '';
            }
            // console.log(flink)
            //当内容中没有图片时，设置分享图片为网站logo
            // if (flink == '') {
            //   lk = 'http://' + window.location.host + '/static/images/logo.png';
            // }
            //如果是上传的图片则进行绝对路径拼接
            if (flink.indexOf('/uploads/') != -1) {
                lk = 'http://' + window.location.host + flink;
            }
            if (document.querySelector('meta[name="description"]')) {
                summary = document.querySelector('meta[name="description"]').getAttribute('content')
            }


            //qq空间接口的传参
            if (stype == 'qzone') {
                // console.log('https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + document.location.href + '&sharesource=qzone&title=' + ftit + '&pics=' + flink + '&summary=' + "122")
                window.open('https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + document.location.href  + '&sharesource=qzone&title=' + ftit + '&pics=' + flink + '&summary=' + summary);
            }


            // //新浪微博接口的传参
            // if (stype == 'sina') {
            //     window.open('http://service.weibo.com/share/share.php?url=' + document.location.href + '?sharesource=weibo&title=' + ftit + '&pic=' + lk + '&appkey=2706825840');
            // }
            // //qq好友接口的传参
            // if (stype == 'qq') {
            //     window.open('http://connect.qq.com/widget/shareqq/index.html?url=' + document.location.href + '?sharesource=qzone&title=' + ftit + '&pics=' + lk + '&summary=' + document.querySelector('meta[name="description"]').getAttribute('content') + '&desc=php自学网，一个web开发交流的网站');
            // }
            // //生成二维码给微信扫描分享
            // if (stype == 'wechat') {
            //     window.open('inc/qrcode_img.php?url=http://zixuephp.net/article-1.html');
            // }
        }
    </script>
</body>

</html>