<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>文章详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/resources/css/markdown.css">
    <!-- <link rel="stylesheet" href="/templates/resources/themes/github.css">
    <link rel="stylesheet"
        href="https://fonts.loli.net/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext">-->
    <link rel="stylesheet" href="/templates/resources/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.css">
</head>

<body>


    <div class="container">
        <!--#include file="/components/header.html"-->
        <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/header :: #header"></div>



        <nav th:if="${notPdf==null}" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index.html">首页</a></li>
                <li class="breadcrumb-item">
                    <a th:each="item : ${view.categories}" th:href="'/articleList/'+${item.viewName}+'.html'"
                        th:text="${item.name}">文章列表</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${view.title}">文章详情</li>
            </ol>
        </nav>


        <div class="card mb-3 markdown" th:if="${notPdf==null}">

           

            <img th:if="${view.picPath}" th:src="${view.picPath}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title" th:text="${view.title}">标题</h5>
                <p class="card-text" th:text="${view.summary}">摘要</p>
                <p class="card-text"><small th:text="${view.createDate}" class="text-muted">时间</small></p>
            </div>
            <div th:switch="${ view.pdfPath != null }">
                <span th:case="true">
                    <a th:href="'http://47.93.201.74:8080/'+${view.pdfPath}" target="_blank">点击下载PDF</a>
                </span>
                <span th:case="false" >
                    <a th:href="'http://47.93.201.74:8080/download/articlePdf/'+${view.id}" target="_blank">点击下载PDF</a>
                </span>
            </div>
        </div>

        </span>
        <div class="markdown">
            [(${view.formatContent})]
        </div>

        <!--#include file="/components/footer.html"-->
        <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/footer :: #footer"></div>

    </div>
</body>

</html>