<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/resources/themes/github.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.css">
    <link rel="stylesheet" href="/templates/resources/css/index.css">

    <title th:text="${view.title}">Document</title>
    <style>
        .navbar {
            position: relative;
        }

        .container {
            margin-top: 0px !important;
        }

        @media screen and (min-width: 768px) {
            .bd-links {
                display: block !important;
            }
        }
    </style>
</head>

<body>
    <!--#include file="/components/header.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/header :: #header"></div>

    <div class="">




        <!-- <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse"
            data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="true"
            aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                viewBox="0 0 30 30" role="img" focusable="false">
                <title>Menu</title>
                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                    d="M4 7h22M4 15h22M4 23h22"></path>
            </svg></button> -->

        <!-- <div class=" collapse " id="bd-docs-nav" aria-label="Main navigation">
            <ul >
                <li><a href="#">首页</a></li>
                <li><a href="#">jQuery特效</a></li>

                <li><a href="#">站长之家</a></li>
                <li><a href="#">PPT下载</a></li>
                <li><a href="#">QQ表情</a></li>
                <li><a href="#">图片下载</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
        </div> -->
        <div class="row ">
            <div class="col-lg-3 collapse bd-links " id="bd-docs-nav">
                <div class="overflow-auto">

                    <!--#include file="/[[${view.category.path}]]/[[${view.category.viewName}]].html"-->
                    <div th:if="${isSave== null && notPdf==null}"
                        th:insert="'html/'+${view.category.path}+'/'+${view.category.viewName} :: #category"></div>
                    <div class="card-body" th:utext="${view.toc}">

                    </div>
                </div>
                
                <div class="card mb-3  bg-white shadow-lg">
                    <div class="card-header" th:text="${view.category.name}">栏目所有文章</div>
                    <div class="card-body p-0">

                        <!--#include file="/[[${view.category.path}]]/[[${view.category.viewName}]].html"-->
                        <div th:if="${isSave== null && notPdf==null}"
                            th:insert="'html/'+${view.category.path}+'/'+${view.category.viewName} :: #category"></div>

                    </div>
                </div>
                <!-- 文章目录 -->
                <div th:if="${view.toc!=''}" id="boxFixed2" class="card shadow-lg"
                    :class="{'is_fixed' : isFixed,'is_show_toc' : !showToc}">
                    <div class="card-header">本文列表</div>

                </div>
            </div>
            <div class="col-lg-9">
                <div class="  mb-1 mt-3 nav">
                    <small class="text-muted">
                        <span class="mr-2">
                            <svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z"
                                    clip-rule="evenodd" />
                            </svg>
                            <strong th:text="${view.user.username}"> </strong>
                        </span>
                        <span class="mr-2">最后发布时间:<strong th:text="${#dates.format( view.updateDate, 'yyyy-MM-dd HH:mm:ss')}">时间</strong></span>
                               
                    </small>
                            
                           
                    <small class="text-muted">
                        <a th:href="'http://47.93.201.74:8080/download/articlePdf/'+${view.id}"
                            target="_blank">&nbsp;&nbsp;点击下载PDF</a>
                    </small>
            </div>
                <div class="markdown shadow-lg p-3 mb-5 bg-white rounded">

                    [(${view.formatContent})]
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <!-- <script src="/templates/resources/js/jquery-3.4.1.min.js"></script> -->
   <script>

</script>
</body>

</html>