<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="生命科学知识分享,生物技术,生物信息学" th:content="${view.title}">
    <meta name="description" content="分享生命科学方面相关文章" th:content="${view.summary}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/resources/themes/github.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.css">
    <link rel="stylesheet" href="/templates/resources/css/index.css?v=1.02">
    <title th:text="${view.title}">Document</title>

</head>

<body>
    <!--#include file="/components/header.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/header :: #header"></div>
    <!--[ <div th:insert="html/components/header"></div> ]-->


    <div class="container">

        <div class="row">

            <div class="col-lg-9 channelContent">


                <div class="shadow bg-white">
                    <div class="content-header border-bottom pl-3 pr-3 pt-3 pb-3">
                        <h1 class="m-0 title" th:text="${view.title}">标题</h1>
                        <div class="info text-secondary">
                            <span class="mr-2  ">最后发布时间:<strong th:text="${#dates.format( view.updateDate, 'yyyy-MM-dd HH:mm:ss')}">时间</strong></span>
                            <span class="text-muted">分享到：</span>
                            <img onclick="shareTo('qzone')" src="http://zixuephp.net/static/images/qqzoneshare.png" width="15"/> 
                            <span class="mr-2">浏览量:<strong id="visits"></strong></span>
        
                        </div>
                    </div>
                    <div class="markdown pt-2 pl-3 pr-3 pb-3">
                            [(${view.formatContent})]
                    </div>
                </div>


                <div id="article-comment" th:if="${view.openComment}">
                    <!--#include file="/components/[[${view.viewName}]].html"-->
                    <div th:if="${isSave== null && notPdf==null}" th:insert="'html/components/'+${view.viewName}"></div>
         
                </div>
            </div>

            <div class="col-lg-3  bd-links bd-sidebar ">
                <div class="card mb-3  bg-white p-3 user-info ">
                        <div class="d-flex justify-content-center">
                            <img th:src="${view.user.avatar}" alt=""class="img-fluid rounded-circle"/>  
                            <div class="align-self-center ml-3">
                                    <strong th:text="${view.user.username}"> </strong>
                            </div>
                        </div>
                </div>

                <div th:if="${view.toc!=''}" id="content-table" class="mb-3">
                        <!-- 文章目录 -->
                        <div  class="  card shadow  bd-links ">
                            <div id="content-table-header" class="card-header d-flex justify-content-between">
                                <span>本文列表</span>
                                <a href="javascript:;" id="close-content-table">&times;</a>
                            </div>
                            <div class="card-body" th:utext="${view.toc}">
                            </div>
                        </div>
                </div>

                <div class="shadow mb-3">
                    <!--#include file="/components/[[${view.category.viewName}]].html"-->
                    <div th:if="${isSave== null && notPdf==null}"
                        th:insert="'html/components/'+${view.category.viewName}">
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <!--#include file="/components/footer.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/footer :: #footer"></div>


    <script src="/templates/resources/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
    <script src="/templates/resources/js/service.js"></script>
    <script>


        var url = location.hostname;
        var protocol = window.location.protocol;
        // var token = $.cookie('Authorization')
        $.ajax({
            url: protocol + "//" + url + ":8080/option/visit/" + [[${ view.id }]],
            // headers: {
            //     'Content-Type': 'application/json;charset=utf8',
            //     'Authorization': 'Bearer ' + token
            // },
            type: "get",
            success: function (data) {
                document.getElementById("visits").innerHTML = data.data

            }
        });


        /*************************评论代码****************************/
        function addComment() {
            let username = $("#username").val()
            let email = $("#email").val()
            let content = $("#content").val()
            console.log(username + email + content)
            var data = {
                "username": username,
                "email": email,
                "content": content,
                "articleId": "[[${view.id}]]"
            }
            console.log("/components/[[${view.viewName}]].html")
            commentApi.add(data).then(response => {
                // console.log(response)
                alert("成功添加评论" + response.data.message)
                $('#comment-list').load("/components/[[${view.viewName}]].html #comment-list")
            }).catch(function (error) {
                // handle error
                // console.log(error.response.data.message);
                alert(error.response.data.message)

            })
        }


        $(".flip").click(function (event) {
            // event.stopPropagation();
            // // $(".panel").slideDown("slow"); 
            // $(".panel").animate({
            //     width: 'toggle'
            // });
            event.stopPropagation();
            $(".panel").slideToggle("fast");
            // var $marginlefty = $(".panel")
            // $marginlefty.animate({
            //     marginLeft: parseInt($marginlefty.css('marginLeft'), 10) == 0 ? $marginlefty.outerWidth() : 0
            // });
        });
        $(".panel").click(function (event) {
            event.stopPropagation();
        })
        $(".navbar-toggler").click(function (event) {
            event.stopPropagation();
            $("#bd-docs-nav").slideToggle("fast");

        })
        if ($(window).width() < 768) {
            $(document).click(function (event) {
                var _con = $('.panel');
                var channelList = $("#bd-docs-nav")
                // 如果点击目标不是input，弹框消失
                if (!_con.is(event.target) || !channelList.is(event.target)) {
                    // $('.panel').slideUp('slow');
                    // $(".panel").animate({
                    //     width: 'toggle'
                    // });
                    $("#bd-docs-nav").slideUp("fast");
                    $(".panel").slideUp("fast");
                }
            });
        }



    </script>
    <script src="/templates/resources/js/article.js"></script>
    <script src="/templates/resources/js/index.js?v=1.02"></script>

    <script>
        move("content-table-header", "content-table", "close-content-table");
       

    </script>
</body>

</html>