<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="生命科学知识分享,生物技术,生物信息学" th:content="${view.category.name}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/resources/themes/github.css">
    <link rel="stylesheet" href="/templates/resources/css/index.css">

    <title th:text="${view.category.name}">Document</title>
    <style>
        /* .navbar {
            position: relative;
        } */

        /* .container {
            margin-top: 0px !important;
        } */

        @media screen and (min-width: 768px) {
            .bd-links {
                display: block !important;
                overflow-y: auto;
            }

            .bd-sidebar {
                position: sticky;
                top: 4rem;
                z-index: 1000;
                height: calc(100vh - 4rem);
            }

            .container-fluid {
                margin-top: 56px;
            }

        }

        .navbar {
            margin-bottom: 0 !important;
        }

        .footer {
            margin-top: 1rem;
        }
    </style>
</head>

<body>
    <!--#include file="/components/header.html"-->
    <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/header :: #header"></div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-3 collapse bd-links bd-sidebar" id="bd-docs-nav">
                <div id="articleContent">
                    <ul class="list-group list-group-flush">
                        <div class="list-group-item list-group-item-light">
                            <strong th:text="${view.category.name}"></strong>
                        </div>
                        <div>
                            <a th:href="'/'+${view.category.path}+'/'+${view.category.viewName}+'.html'"
                                class="list-group-item list-group-item-action">
                                <span>
                                    [[${view.category.name}]]介绍
                                </span>
                            </a>
                            <a th:href="'/'+${item.path}+'/'+${item.viewName}+'.html'"
                                class="list-group-item list-group-item-action"
                                th:each="item : ${view.page.getContent()}">
                                <span th:text="${item.title}">

                                </span>
                            </a>
                        </div>
                    </ul>
                </div>

            </div>

            <div class="col-lg-9 channelContent">
                <div class="  mb-1 mt-3 nav">

                </div>
                <div class="markdown shadow-lg p-3  bg-white rounded channelContent-1">
                    <div class=" ">
                        <div class="d-flex justify-content-center mb-3">
                            <strong th:text="${view.category.name}"></strong> 一共收录文章<em
                                th:text="${view.page.totalElements}"></em>篇
                        </div>
                        <div th:if="${view.category.picPath!= null||view.category.picPath!=''}" class="d-flex justify-content-center mb-3">
                            <img th:src="${view.category.picPath}" alt="" class="shadow-lg rounded border border-dark" style="width: 20rem;">
                        </div>
                        <div class="d-flex justify-content-center ">
                            <span th:text="${view.category.description}"></span>
                        </div>
                    </div>


                </div>

                <!--#include file="/components/footer.html"-->
                <div th:if="${isSave== null && notPdf==null}" th:insert="html/components/footer :: #footer"></div>


            </div>
        </div>

    </div>

    <script src="/templates/resources/js/jquery-3.4.1.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- <script src="/templates/resources/js/jquery-3.4.1.min.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
    <script src="/templates/resources/js/service.js"></script>

    <script src="/templates/resources/js/article.js"></script>
    <script src="/templates/resources/js/index.js"></script>

</body>

</html>