body{
    margin: 0 auto;
    padding: 0;
    margin: 0 auto;
    background: #f6f6f6;
}

/* nav{
    white-space: nowrap;
    height: 2rem;
    line-height: 2rem;
    font-size: 2rem;
    overflow-y: hidden;
    position: fixed;
    
} */

a:focus {
    outline: none;
}
.navbar{
    background:#e9ecef;
}
 /*隐藏滚动条*/
 .nav::-webkit-scrollbar {
    width: 0 !important
}

.breadcrumb::-webkit-scrollbar {
    width: 0 !important
}

.nav,
.breadcrumb {
    display: inherit;
    white-space: nowrap;
    overflow: auto;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.nav .nav-item {
    /* margin-top: 0.5rem; */
    display: inline-block;
}

.breadcrumb .breadcrumb-item {
    display: inline-block;
}
.navbar-collapse{
    overflow: auto;
}


@media screen and (max-width: 992px) {
    .footnotes p{
        display: block;
    }
  .nav .nav-link{
    padding: .5rem 0.15rem;
    
  }
  .navbar{
      position: relative;
      text-align: center;
  }
  .container{
    margin-top: 0px !important;
    }
.bd-search{
    width: 100%;
}
  .navbar .form-inline{
    width: 100%;
  }
  .navbar .form-inline input{
    width: 100%;
  }
  .nav-title{
      width: 100%;
      text-align: center;
      display: none;
  }  
  .navbar .btn{
      display: none;
  }
}
.container{
    margin-top: 72px;
}

/* 文章标题 */
.title{
    color: black;
    /* font-weight: bold; */
}

/* 底部导航设置 */
.footer{
    background: #e9ecef;
}