<!-- <div class="row row-cols-1 row-cols-md-3" id="category">
    <div class="col mb-4 " th:each="item : ${view}">
        <div class="card h-100">
            <a th:href="'/articleList/'+${item.viewName}+'.html'" class="home-card text-secondary">
                <img th:src="${item.picPath}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.name}">Card title</h5>
                    <p class="card-text" th:text="${item.description}"></p>
                </div>
            </a>
        </div>
    </div>

</div>  -->

<div class="list-group list-group-flush" id="category">

    <a th:each="item : ${view}" th:href="'/articleList/'+${item.viewName}+'.html'"
        class="list-group-item list-group-item-action" th:text="${item.name}">Dapibus ac facilisis in</a>
</div>