<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="baidu-site-verification" content="3GH8lzi4Xa" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="生物信息学,生物信息分析,微生物学,免疫学,分子生物学,生物化学,基因工程,细胞生物学,r语言,python">
    <meta name="description"
        content="学生物，是帮助喜欢生物的人学习最新、最热门生物知识,网站内容包括生物信息学,生物信息分析,微生物学,免疫学,分子生物学,生物化学,基因工程,细胞生物学方面文章,r语言,python">

    <title>学生物</title>

    <!-- <link rel="stylesheet" href="/templates/resources/css/markdown.css"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/resources/css/index.css?v=1.02">
    <style>
        @media screen and (max-width: 768px) {
            .carousel-item {
                height: 10rem !important;
            }
        }

        @keyframes mymove {
            50% {
                text-shadow: 10px 20px 30px #000;
            }
        }

        /*Safari 和 Chrome:*/
        @-webkit-keyframes mymove {
            50% {
                text-shadow: 10px 20px 30px #000;
            }
        }


        .card:hover {
            /* -webkit-animation: mymove 3s;
            animation: mymove 3s;
            animation-fill-mode: forwards; */
            /* background-color: #f8f9fa; */
        }

        .showloading {
            display: none;
        }

        .css-首页 {
            color: rgba(0, 0, 0, .7) !important;
        }

        .carousel-item {
            height: 17rem;
        }

        .carousel-item p {
            color: #ffffff;
        }

        a:link {
            text-decoration: none;

        }
    </style>
</head>

<body>
    <!--#include file="/components/header.html"-->
    <div th:if="${isSave== null}" th:insert="html/components/header :: #header"></div>
    <!--[ <div th:insert="html/components/header"></div> ]-->


    <div class="container">
        <div class="row ">
            <div class="col-lg-9">
                <!--#include file="/components/carousel.html"-->
                <!--[ <div  th:insert="html/components/carousel"></div> ]-->
                <div th:if="${isSave== null}" th:insert="html/components/carousel"></div>


                <div class="row">
                    <div class="col-sm  mb-3">
                        <ul class="list-group list-group-flush">
                            <div class="list-group-item list-group-item-light d-flex justify-content-between">
                                <span>最新资讯</span>
                            </div>
                            <!--#include file="/components/newInformation.html"-->
                            <!--[ <div  th:insert="html/components/newInformation"></div> ]-->
                            <div th:if="${isSave== null}" th:insert="html/components/newInformation"></div>
                        </ul>
                    </div>
                    <div class="col-sm mb-3">
                        <ul class="list-group list-group-flush">
                            <div class="list-group-item list-group-item-light d-flex justify-content-between">
                                <span>热门文章</span>
                            </div>
                            <!--#include file="/components/hotArticle.html"-->
                            <!--[ <div  th:insert="html/components/hotArticle"></div> ]-->
                            <div th:if="${isSave== null}" th:insert="html/components/hotArticle"></div>
                        </ul>
                    </div>
                    <div class="col-sm mb-3">
                        <ul class="list-group list-group-flush ">
                            <div class="list-group-item list-group-item-light d-flex justify-content-between">
                                <span>推荐阅读</span>
                            </div>
                            <!--#include file="/components/recommendArticle.html"-->
                            <!--[ <div  th:insert="html/components/recommendArticle"></div> ]-->
                            <div th:if="${isSave== null}" th:insert="html/components/recommendArticle"></div>
                        </ul>
                    </div>
                </div>


                <div class="category-horizontal mb-3">
                    <div class="category-title"><span>文章分类快速导航</span></div>
                    <!--[ <div  th:replace="html/components/DEFAULT_CATEGORY"></div> ]-->
                    <!--#include file="/components/DEFAULT_CATEGORY.html"-->
                    <div th:if="${isSave== null}" th:insert="html/components/DEFAULT_CATEGORY"></div>
                </div>

                <div class="category-horizontal mb-3">
                    <div class="category-title"><span>文章栏目快速导航</span></div>
                    <!--[ <div  th:replace="html/components/DEFAULT_CHANNEL"></div> ]-->
                    <!--#include file="/components/DEFAULT_CHANNEL.html"-->
                    <div th:if="${isSave== null}" th:insert="html/components/DEFAULT_CHANNEL"></div>
                </div>


                <ul class="list-group list-group-flush mb-4">
                    <div class="list-group-item list-group-item-light d-flex justify-content-between">
                        <span>最新文章</span>
                    </div>
                    <!--#include file="/components/newArticleIndex.html"-->
                    <!--[ <div  th:insert="html/components/newArticleIndex"></div> ]-->
                    <div th:if="${isSave== null}" th:insert="html/components/newArticleIndex"></div>
                </ul>


                <div th:each="item : ${view.recommend}">
                    <ul class="list-group list-group-flush mb-4">
                        <div class="list-group-item list-group-item-light d-flex justify-content-between">
                            <span th:text="${item.name}"></span>
                            <a th:href="'/'+${item.path}+'/'+${item.viewName}+'.html'" class="text-secondary">
                                查看更多
                            </a>
                        </div>
                        <!--[ <div  th:insert="html/components/[[${item.viewName}]]"></div> ]-->
                        <!--#include file="/components/[[${item.viewName}]].html"-->
                        <div th:if="${isSave== null}" th:insert="'html/components/'+${item.viewName}"></div>
                    </ul>
                </div>

            </div>

            <div class="col-lg-3">
                <!-- 
                <div th:each="item : ${view.parent}">
                    <span th:text="${item.viewName}"></span>
                    <span th:text="${item.path}"></span>
                </div> -->
                <div class="card mb-3  bg-white p-4">
                    <a href="/user/write" target="_blank" class="mb-1">
                        <button type="button" class="btn btn-outline-secondary btn-lg btn-block">我要投稿</button>
                    </a>
                    <button type="button" class="btn btn-outline-secondary btn-lg btn-block">发布问题</button>
                </div>
                <div class="category-vertical" th:each="item : ${view.templates}">
                    <div class="category-title">
                        <span th:text="${item.name}">所有分类</span>
                    </div>

                    <!--[ <div  th:replace="html/components/[[${item.enName}]]"></div> ]-->
                    <!--#include file="/components/[[${item.enName}]].html"-->
                    <div th:if="${isSave== null}" th:insert="'html/components/'+${item.enName}"></div>

                </div>
                <ul class="list-group list-group-flush mb-4">
                    <div class="list-group-item list-group-item-light">
                        <span>传送门</span>
                    </div>
                    <a href="https://sites.harding.edu/fmccown/r/"
                        class="list-group-item  list-group-item-action">R绘图案例</a>
                    <a href="https://linggle.com/" class="list-group-item  list-group-item-action">英语搭配
                    </a>
                    <a href="https://www.thesaurus.com/" class="list-group-item  list-group-item-action">词汇替换
                    </a>

                </ul>

            </div>
        </div>




    </div>

    <!--#include file="/components/footer.html"-->
    <div th:if="${isSave== null}" th:insert="html/components/footer :: #footer"></div>
    <!--[ <div  th:insert="html/components/footer"></div> ]-->

    <script src="/templates/resources/js/jquery-3.4.1.min.js"></script>
    <script src="/templates/resources/js/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/templates/resources/js/index.js"></script>
    <script>



        

        $('.carousel').carousel({
            interval: 2000
        })
    </script>
</body>

</html>