
<ul class="list-group list-group-flush" id="newArticle">

    <a th:href="'/'+${item.path}+'/'+${item.viewName}+'.html'" class="list-group-item list-group-item-action"
        th:each="item : ${view}">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" th:text="${item.title}">List group item heading</h5>
            <small th:text="${item.createDate}">3 days ago</small>
        </div>
        <p class="mb-1" th:text="${item.summary}"></p>
        <!-- <small>Donec id elit non mi porta.</small> -->
    </a>

</ul>